@import './main.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.wrapper {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #cd7e30;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #222830;
}
